<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
<servlet>
	<servlet-name>RequestToken</servlet-name>
	<servlet-class>ttwapi.api.RequestTokenServlet</servlet-class></servlet>
  <servlet>
    <servlet-name>CallBackServlet</servlet-name>    
    <servlet-class>ttwapi.api.CallBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>ttwapi.api.UpdateStatusServlet</servlet-class>
  </servlet>

<servlet-mapping>
	<servlet-name>RequestToken</servlet-name>
	<url-pattern>/rqt</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/updatestatus</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ShowKeyServlet</servlet-name>
    <servlet-class>ttwapi.api.ShowKeyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ShowKeyServlet</servlet-name>
    <url-pattern>/showKey</url-pattern>
  </servlet-mapping> 
	
</web-app>
